.ui-spinner .ui-icon {
  top: -20%;
}

.block-accommodation-quickbook .form-item {
	clear: both;
	margin: 5px 0;
}

.block-accommodation-quickbook .form-item label {
  width: 100px;
  float: left;
}
.block-accommodation-quickbook .form-submit {
	float: right;
}
.block-accommodation-quickbook label {
}
.star_required {
	color: red;
	font-weight: bold;
}
.star_required:before,
.star_required:after {
	content: " ";
}

#block-accommodation-quickbook-accommodation-quickbook-process {
  background: white;
  margin: 5px 10px 20px;
  padding: 10px;
  border-radius: 10px;
}
#block-accommodation-quickbook-accommodation-quickbook-process form {
  display: inline-block;
  float: right;
}

.review {
  float: left;
  width: 16em;
}

#block-accommodation-quickbook-accommodation-quickbook-process label {
  width: 10em;
  float: left;
  whites-space: no-wrap;
}
#block-accommodation-quickbook-accommodation-quickbook-process .review label {
  width: 8em;
}
#block-accommodation-quickbook-accommodation-quickbook-process form label {
  margin: 5px 0;
}

#block-accommodation-quickbook-accommodation-quickbook-process form div {
  clear: both;
}
#block-accommodation-quickbook-accommodation-quickbook-process .submit {
  margin-top: 10px;
}
#block-accommodation-quickbook-accommodation-quickbook-process .submit input  {
  float: right;
}

label .note {
  font-size: smaller;
  font-weight: normal;
}

.block-content .booking_types {
	font-size: 90%;
	margin-top: 0.5em;
}
.block-content .booking_types ul {
	padding-left: 2em;
}
#mailform_price span.note {
	font-sizer: smaller;
	text-align: right;
}
/*.block-accommodation-quickbook .block-inner {
	background: pink;
}
.block-accommodation-quickbook .form-item {
	clear: both;
	margin: 5px 0;
	height: 15pt;
}
.block-accommodation-quickbook .form-submit {
	float: right;
}
.star_required {
	color: red;
	font-weight: bold;
}
.star_required:before,
.star_required:after {
	content: " ";
}
*/

.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-item,
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-actions {
    display: table-cell;
    vertical-align: bottom;
clear: none;
}
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-actions .star_required {
    display: none;
    height: 2em;
}
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-item label {
    line-height: 100%;
    margin-bottom: 0.2em;
    font-weight: normal;
}
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-item input {
    font-size: 1.5em;
}
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-item .ui-spinner {
z    box-sizing: border-box;
    height: 2em;
    margin-top: 0.1em;
z    margin-bottom: 0.5em;
}
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form .form-item .ui-spinner input {
    margin-top: 0.1em;
}
.region-highlighted #block-accommodation-quickbook-accommodation-quickbook-form input.form-submit {
    height: 2.3em;
    border-radius:  8px;
    margin: 0;
}
